
.selectGroup{
    padding: 4px;
}

.displayButton{
    position: relative;
}

.dropOnClick{
    position: absolute;
    width: 255px;
    background-color: #b8b8c3;
    border-radius: 11px;
    margin-top: 12px;
    z-index: 12;
}

.dropOnClick > *{
    width: 110%;
}

.btn{
    background:  #b4b4b7;;
    border: 1px solid rgb(162, 162, 162);
    border-radius: 12px;
}

.selectStyle{
    width: 99px;
    border-radius: 4px;
    background: white;
    padding: 3px 6px;
}